{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container ">
        <h1>Модуль Python</h1>
        <form method='post' action=''>
            {% csrf_token %}
            {% for question in page_obj %}
                <div class="form-group">
                    <label for="question">{{ question.question }}</label>
                </div>
                <div class="form-check">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ question.question }}" id="gridRadios1"
                               value="{{ question.op1 }}">
                        <label class="form-check-label" for="gridRadios1">
                            {{ question.op1 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ question.question }}" id="gridRadios2"
                               value="{{ question.op2 }}">
                        <label class="form-check-label" for="gridRadios2">
                            {{ question.op2 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ question.question }}" id="gridRadios1"
                               value="{{ question.op3 }}">
                        <label class="form-check-label" for="gridRadios1">
                            {{ question.op3 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ question.question }}" id="gridRadios2"
                               value="{{ question.op4 }}">
                        <label class="form-check-label" for="gridRadios2">
                            {{ question.op4 }}
                        </label>
                    </div>
                    <br>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary save">Сохранить ответ</button>
        </form>

        {% if page_obj.has_previous %}
            <a class='btn btn-primary' href="?quiz={{ page_obj.previous_page_number }}">Назад</a>
        {% else %}
            <a class='btn' style="display: none">Назад</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class='btn btn-primary' href="?quiz={{ page_obj.next_page_number }}">Далее</a>
        {% else %}
            <a class='btn' style="display:none;">Далее</a>
        {% endif %}
        {% if page_obj.number == 5 %}
            <a class='btn btn-primary end' style="background-color:red;" href="{% url 'count_result' %}">Завершить</a>
        {% endif %}
    </div>
{% endblock %}